<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>   <!--Это элемент, определяющий сервлет в контексте веб-приложения.-->
    <servlet-name>Jersey REST Service</servlet-name> <!-- имя сервлета.-->
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class> <!--Указывает полное имя класса, который будет использоваться для обработки запросов. Здесь указан класс org.glassfish.jersey.servlet.ServletContainer, который является контейнером сервлета Jersey.-->
    <init-param>  <!--Определяет параметры и их значения для конфигурации сервлета.-->
      <param-name>jersey.config.server.provider.packages</param-name> <!--Устанавливает имя параметра конфигурации.-->
      <param-value>service</param-value> <!--Устанавливает значение параметра конфигурации. Здесь указано значение "service", которое предполагает, что классы сервиса будут находиться в пакете с именем "service".-->
    </init-param>  <!--Указывает порядок загрузки сервлета при старте приложения. Значение "1" указывает на загрузку сервлета при старте приложения.-->
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping> <!--Определяет соответствие между сервлетом и URL-шаблонами, к которым он должен обрабатывать запросы.-->
    <servlet-name>Jersey REST Service</servlet-name>  <!--Указывает имя сервлета, для которого определено соответствие.-->
    <url-pattern>/rest/*</url-pattern> <!--Определяет URL-шаблон, который будет обрабатываться сервлетом. Здесь указан шаблон "/rest/*", что означает, что все запросы, начинающиеся с "/rest/", будут обрабатываться сервлетом.-->
  </servlet-mapping>

</web-app>
